{% extends "_main.jinja" %}

{% block title %} Page not found! {% endblock %}

{% block main %}
    <div class="internal_error"
         <p>
             Ooops! Error occured. Sorry, unknown error occured. Please contant <a href="mailto:support@blabla.sk">support</a>
         </p>
    </div>
{% endblock %}